body {
  margin: 0;
  padding: 0;
}
a.nooutline:focus {
  outline: 0;
}

.appearable-item {
  display: none !important;
}
.appearable-container:hover .appearable-item {
  display: block !important;
}
